<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleREST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB3D0BA71CD550120045C7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D0BBB1CD550130045C7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3D0BC61CD550130045C7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
